header {
    display: flex;
    justify-content: space-between;
    padding: 10px 120px;
    align-items: center;
    background-color: #1a1d21;
    position: relative; /* important for stacking */
    z-index: 1000;      /* make sure it's above other elements */
}
.logo{
    font-size: 12px;
    color:#fff;
}
.logo:hover{
    color: orangered;
}
.nav{
    display: flex;
    gap: 20px;
}

nav a{
    text-decoration: none;
    color: #fff;
}

nav a:hover{
    color: orangered;
}

.menu-toggle {
  width: 45px;
  height: 45px;
  background: #fff;          /* White circle background */
  color: #000;               /* Text color */
  border-radius: 50%;        /* Makes it a circle */
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 800;
  font-size: 18px;
  cursor: pointer;
  box-shadow: 0 0 10px rgba(0,0,0,0.2);
  display: none;
}

.menu-toggle:hover {
  transform: scale(1.05);
  transition: 0.2s ease;
}


/* Tablet / Mobile sizes */
@media (max-width: 768px) {
    header {
    display: flex;
    justify-content: space-between;
    padding: 10px 30px; /* smaller padding for mobile */
    align-items: center;
    background-color: #1a1d21;
    position: relative;
    z-index: 1000;
}
    .nav {
    display: none;
    flex-direction: column;
    gap: 10px;
    background-color: #1a1d21;
    position: absolute;
    top: 60px;
    right: 0;
    padding: 10px;
    width: 200px;
    border-radius: 5px;
    z-index: 1000; /* lower than burger */
}


    .nav.active{
        display: flex;
    }
    

    .menu-toggle {
    display: flex;
    flex-direction: column;
    cursor: pointer;
    gap: 5px;
    z-index: 1100; /* ensure burger is above nav */
}
}

